<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/static/error.css">
</head>
<body>
    <div class="error-container">
        <iframe width="110" height="200" src="https://www.myinstants.com/instant/ima-make-u-pop-like-that-18071/embed/" frameborder="0" scrolling="no" style="padding: inherit;margin: -20px;"></iframe>
        <h1>404</h1>
        <h2>Страница не найдена</h2>
        <p>Извините, запрошенная страница не существует.</p>
        <p><a href="/">Вернуться на главную</a></p>
    </div>
</body>
</html>